#page-teacher-form {
  height: 100vh;
  width: 100vw;
}

#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-teacher-form main {
  background-color: var(--color-box-base);
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  max-width: 74rem;
  padding-top: 6.4rem;
  overflow: hidden;
  width: 100%;
}

#page-teacher-form main fieldset {
  border: 0px;
  padding: 0px 2.4rem;
}

#page-teacher-form main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-teacher-form main fieldset legend {
  align-items: center;
  border-bottom: 1px solid var(--color-line-in-white);
  color: var(--color-text-title);
  display: flex;
  font-family: Archivo;
  font-size: 2.4rem;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  padding-bottom: 1.6rem;
  width: 100%;
}

#page-teacher-form main fieldset legend div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#page-teacher-form main fieldset legend button {
  background-color: transparent;
  border: 0px;
  color: var(--color-primary);
  font-family: Archivo;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s;
}

#page-teacher-form main fieldset legend button:hover {
  color: var(--color-primary-dark);
}

#page-teacher-form main fieldset .input-block + .textarea-block,
#page-teacher-form main fieldset .select-block + .input-block  {
  margin-top: 2.4rem;
}

#page-teacher-form main label {
  color: var(--color-text-complement);
}

#page-teacher-form main footer {
  background-color: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
  padding: 4rem 2.4rem;
}

#page-teacher-form main footer p {
  align-items: center;
  color: var(--color-text-complement);
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  line-height: 2.4rem;
}

#page-teacher-form main footer p img {
  margin-right: 2rem;
}

#page-teacher-form main footer button {
  align-items: center;
  background-color: var(--color-secundary);
  border: 0px;
  border-radius: 0.8rem;;
  color: var(--color-button-text);
  cursor: pointer;
  display: flex;
  font-family: Archivo;
  font-size: 1.6rem;
  font-weight: 700;
  justify-content: center;
  height: 5.6rem;
  margin-top: 3.2rem;
  text-decoration: none;
  transition: background-color 0.2s;
  width: 100%;
}

#page-teacher-form main footer button:hover {
  background-color: var(--color-secundary-dark);
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100vw;
  }

  #page-teacher-form .page-header .header-content {
    margin-bottom: 0px;
  }

  #page-teacher-form main fieldset {
    padding: 0px 6.4rem;
  }

  #page-teacher-form main .schedule-item {
    column-gap: 1.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  #page-teacher-form main .schedule-item .input-block {
    margin-top: 0px !important;
  }

  #page-teacher-form main footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4.0rem 6.4rem;
  }

  #page-teacher-form main footer p {
    justify-content: space-between;
  }

  #page-teacher-form main footer button {
    margin-top: 0px;
    width: 20rem;
  }
}
