.textarea-block {
  position: relative;
}

.textarea-block + .textarea-block {
  margin-top: 1.4rem;
}

.textarea-block label {
  font-size: 1.4rem;
}

.textarea-block textarea {
  background-color: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  font-family: Archivo;
  font-size: 1.6rem;
  height: 16rem;
  margin-top: 0.8rem;
  min-height: 8rem;
  outline: 0px;
  padding: 1.2rem 1.6rem;
  resize: vertical;
  width: 100%;
}

.textarea-block:focus-within::after {
  bottom: 0px;
  background-color: var(--color-primary-light);
  content: '';
  height: 2px;
  left: 1.6rem;
  position: absolute;
  right: 1.6rem;
  width: calc(100% - 3.2rem);
}
